
body, html {
  height: 100%;
  margin: 0;
background-color: rgb(234, 242, 250);
}


#skills {
background-color: rgb(234, 242, 250);
}


.button_cv {
  background-color: #17a2b8;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 8px 2px;
  cursor: pointer;
  padding: 14px 40px;
border-radius: 5%;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.exp_tl {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.exp_tl::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
  left: 31px;
  }
  

  .exp_tl {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  .exp_tl::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
  left: 15px;
  }
  
  .right {
  left: 0%;
  }
}

 #myImg1, #myImg2, #myImg3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
display: block;
  margin-left: auto;
  margin-right: auto;
}

.column_cert h3 {
text-align: center;
width: 60%;
margin-left: auto;
  margin-right: auto;
}

#myImg1:hover, #myImg2:hover, #myImg3:hover {opacity: 0.7;}
.effect1, .effect2, .effect3 {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9); 
}

.effect-content1, .effect-content2, .effect-content3 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption1, #caption2, #caption3 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.effect-content1, #caption1, .effect-content2, #caption2, .effect-content3, #caption3{  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

.close1, .close2, .close3 {
  position: fixed;
  top: 15px;
  right: 135px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.close1:hover, .close1:focus, .close2:hover, .close2:focus, .close3:hover, .close3:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .effect-content1, .effect-content2, .effect-content3 {
    width: 100%;
  }
} 



.column_cert {
  float: left;
  width: 33.33%;
}

.row_cert:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column_cert {
    width: 100%;
  }
}

.main_sm {
  max-width: 1200px;
  margin: auto;
}

.main_sm h1 {
text-align: center;
}

.row_sm {
  margin: 8px -16px;
  text-align: center;
}

.row_sm img {
display: block;
  margin-left: auto;
  margin-right: auto;
}

.row_sm,
.row_sm > .column_sm {
  padding: 8px;
}

.column_sm {
  float: left;
  width: 25%;
}

.column_sm a{
  font-size: 1.4em;
  text-decoration:none
}

.row_sm:after {
  content: "";
  display: table;
  clear: both;
}

.content_sm {
  background-color: white;
  padding: 10px;
  outline: 2px solid black;
}

@media screen and (max-width: 850px) {
  .column_sm {
    width: 50%;
  }
}

@media screen and (max-width: 350px) {
  .column_sm {
    width: 100%;
  }

}

footer
{
font-size:18px;
font-weight:bold;
text-align:center;
background:lightsteelblue;
color:black;
font-family:arial;
letter-spacing:1px;
}
